<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            /* .car {
                width: 100px;
                height: 100px;
                background-color: rgb(47, 129, 29);
                border-radius: 5%;
                color: white;
                padding: 10px;
                margin: 10px;
            } */
        </style>
    </head>
    <body>
        <% cars.forEach(car=>{%>
        <div class="car">
            <h1><%= car%></h1>
        </div>
        <%})%>
    </body>
</html> -->
